.footer {
  background-color: rgb(199, 199, 199);
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;

  & .footer__row1 {
    display: flex;
    justify-content: space-between;

    & .linker {
      color: #000;
      font-size: 0.7em;
      text-align: center;
      padding: 8px 4px;
      width: 80px;

      &:hover {
        background-color: #f40612;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: solid 3px #eee;
        color: #fff;
      }

      & .action-icon {
        width: 20px;
        margin: 0 auto;
      }
    }
  }
}

.color--me {
  background-color: #f40612;
  background-color: #f40612;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 3px #eee;
  color: #fff !important;
}
