body {
  background-color: #262f32;
}

.page-container--view-works {
  background-color: #202020;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 50px;
}
